package {{package}};

{{#generateClient}}
import io.helidon.webclient.api.RestClient;
import io.helidon.webserver.testing.junit5.ServerTest;
{{/generateClient}}
import org.junit.jupiter.api.Test;

import static org.hamcrest.MatcherAssert.assertThat;
import static org.hamcrest.Matchers.notNullValue;

{{#operations}}
{{#generateClient}}
@SuppressWarnings("deprecation")
@ServerTest
class {{classname}}EndpointTest {
    private final {{classname}}Client client;

    {{classname}}EndpointTest(@RestClient.Client {{classname}}Client client) {
        this.client = client;
    }

{{#operation}}
    @Test
    void test{{vendorExtensions.x-operation-id-capitalized}}() {
        // Smoke test per generated API method.
        assertThat(client, notNullValue());
    }
{{/operation}}
}
{{/generateClient}}
{{^generateClient}}
class {{classname}}EndpointTest {

{{#operation}}
    @Test
    void test{{vendorExtensions.x-operation-id-capitalized}}() {
        // Smoke test per generated API method.
        assertThat(new {{classname}}Endpoint(), notNullValue());
    }
{{/operation}}
}
{{/generateClient}}
{{/operations}}
