{{!
Copyright (c) 2026 Oracle and/or its affiliates.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
}}

package {{package}};

import io.helidon.http.Status;

/**
 * Exception thrown by {@link {{classname}}Endpoint} to signal an API error response.
 *
 * <p>Caught by {@link {{classname}}ErrorHandler}, which serialises the error to JSON
 * using the spec's error schema and sets the HTTP status on the response.</p>
 *
 * <p>Usage:
 * <pre>{@code
 *   throw new {{classname}}Exception("Pet not found: " + petId, Status.NOT_FOUND_404);
 * }</pre>
 * </p>
 */
public class {{classname}}Exception extends RuntimeException {

    private final Status status;

    public {{classname}}Exception(String message, Status status) {
        super(message);
        this.status = status;
    }

    public {{classname}}Exception(String message, Status status, Throwable cause) {
        super(message, cause);
        this.status = status;
    }

    /**
     * Returns the HTTP status to send in the error response.
     */
    public Status status() {
        return status;
    }
}
