package {{package}};

import org.junit.jupiter.api.Test;

import static org.hamcrest.MatcherAssert.assertThat;
import static org.hamcrest.Matchers.notNullValue;

class {{classname}}ModelTest {

    @Test
    void model_isInstantiable() {
        assertThat(new {{classname}}(), notNullValue());
    }
}
